body
{
  background-color: white;
  margin:0;
  overflow-x:hidden;
}

#nambs
{
  
  margin-left: 10px;
   margin-top: -1px; 
   color:#000249; 
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 0.2em; 
   position:relative;
   text-align: left;
   
}

#healthclinic
{
  margin-left:45px; 
  margin-top: -19px; 
  color:green;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.3em;
  position:relative;
  text-align: left;
  font-weight: bolder;
  
 
}

fieldset
{
  background-color: #D9EEE1;
  border-color: #D9EEE1;;
  border-style: solid;  
  box-shadow: 0 0 3px #000;
  height: 160px; 
}

h2{
    position: center;
}

.row{
    margin-left:500px;
}


input[type="text"]
{
  padding: 10px;
	height: 4%;
  margin-bottom: 10px;
  width:40%;
  font-size: 16px;
	text-align: center;
}

input[type="text"]::placeholder
{
  font-size: 18px;
}

.row h1{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 6%;

}

.row a
{
  color:#04AA6D;

}


input[type="submit"]
{
  padding: 10px;
	height: 9%;
  width:43%;
  color:white;
	text-align: center;
	font-size: 19px;
  border-color: #04AA6D;
	background-color: #04AA6D;
}